.link-list {
  color: $primary-color;

  &--no-js {
    display: none;
  }
  &__wrapper {
    padding: .5rem 1rem;
  }
  &__content {
    padding: .5rem 0;
    border-bottom: 0.02rem solid $secondary-color-light;
  }
  &__content:after {
    clear: both;
    content: "";
    display: table;
  }
  &__url {
    color: $primary-color;
    float: left;
    font-weight: 700;
  }
  &__number {
    color: $secondary-color;
    float: right;
    margin-left: 1rem;
  }
}
