.hero
	background-image url('/img/background-home.jpg')
	background-position center center
	background-repeat no-repeat
	background-size cover
	min-height calc(100vh - 10rem)
	margin-bottom $divider-space
	padding 0 $divider-space
	text-align center

	&__title
		font-size $main-title-font-size
		margin-bottom .5rem

	&__item

		+above(600px)
			max-width 60%

	&__button
		background-color $accent-color
		font-weight bold
		padding .8rem 0
		text-transform uppercase
		width 10rem
		outline none

		+below(430px)
			width 100%
			margin-top .5rem

		&:hover
			background-color $accent-color-hover

	&__form
		display inline-flex
		flex-wrap wrap
		justify-content center
		margin-top 2rem
		min-width 60%

	&__input
		background-color transparent
		border-bottom .2rem solid $accent-color
		flex 1
		font-size $secondary-font-size
		margin-right .5rem
		outline none

		+below(430px)
			margin-right 0

		&::placeholder
			color $accent-text-color
			font-size $secondary-font-size
