.hero
	background-image url('/img/background-home.jpg')
	background-position center center
	background-repeat no-repeat
	background-size cover
	min-height calc(100vh - 10rem)
	margin-bottom $divider-space
	padding 0 $divider-space
	text-align center

	&__title
		font-size $main-title-font-size
		margin-bottom .5rem

	&__item

		+above(600px)
			max-width 60%
