// Fonts family
$primary-font-family = 'Roboto', serif
$title-font-family = 'Roboto Slab', sans-serif

// Font size
$main-title-font-size = 2.818rem
$secondary-title-font-size = 2.545rem
$secondary-font-size = 1.545rem
$text-font-size = 1.273rem

// Spaces
$divider-space = 5rem

// Colors
$default-text-color = #fff
$primary-text-color = #aa1423
$secondary-text-color = #777
$accent-text-color = #f26417

$primary-color = #aa1423
$secondary-color = #eee
$accent-color = #ff6e14
$accent-color-hover = #ff8138
