// Font
$roboto: "Roboto", sans-serif;
$roboto-slab: "Roboto Slab", sans-serif;

// Breakpoints
$bq-tablet: "only screen and (min-width: 600px)";
$bq-desktop: "only screen and (min-width: 900px)";

// Color
$primary-color: #aa1423;
$secondary-color: #777;
$secondary-color-light: #eee;
$accent-color: #ff6e14;
